.fp-tableCell{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

// NAVI



// HOME
.home{
    background: url('../img/bground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.mainPicture{
    width: 40vh;
    height: 40vh;
    border-radius: 20vh;

}

// ABOBUT

.aboutMe{
    background: url(../img/мщвщзфв.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.aboutWords{
    color: #fff;
    font-size: 5vh;
}

// PROJECKTS

.slide{
    img{
        width: 40vh;
        height: 40vh;
    }
    
}

.p-tooltip{
    color: #757575 !important;
    font-size: 9vh !important;
}



// CONTAСTS
.contcards>a>img{
    width: 10vh;
    height: 10vh;
}

.contacts{
    background: url('../img/bground.jpg');
    background-size: cover;
}